<style>
   .gray {
   background-color: #f4f4f4!important;
   }
   .pink {
   background-color: #ffd5d5!important;
   }
   /* unvisited link */
   a:link, a:hover, a:visited {
   color: white;
   }
   .border-right {
   border-right: 1px solid lightgrey;
   }
</style>
<div class="jumbotron" ng-if="!vm.isLogged()">
   <div class="container text-center">
      <p>Sign in with <b>Steam</b> in order to check any changes in your friendslist!</p>
   </div>
</div>
<!--<center><h1>Welcome back {{vm.user.displayName}}</h1>   </center> -->
<div class="container" ng-if="vm.isLogged()">
   <div class="row">
      <div class="col-md-6">
         <div class="text-center">
            <h1><span class="label label-success">{{vm.user.historical.addedFriends.length}}</span> Saved Friends</h1>
         </div>
         <br/><br/>
         <div class="jumbotron gray text-center" ng-if="vm.user.historical.addedFriends.length < 1 && !vm.emptyArrays">
            <p>Saved friends <b>log</b> is empty!</p>
         </div>
         <div class="jumbotron pink text-center" ng-if="vm.internalError">
            <p>Oops! Server <b>could not get</b> the profiles.</p>
         </div>
         <table ng-show="vm.user.historical.addedFriends.length >= 1 && !vm.internalError" ng-table="vm.addedFriendsTable" class="table table-striped" show-filter="true">
            <tr ng-repeat="user in $data" style="text-align: center" data-toggle="collapse"
               data-target="#{{row.nombreProducto}}" ng-show="!vm.isLoadingAdded">
               <td align="center" title="'Avatar'">
                  <img ng-src="{{user.avatar}}">
               </td>
               <td align="center" title="'Username'" filter="{ personaname: 'text'}" sortable="'personaname'">
                  {{user.personaname}}
               </td>
               <td align="center" title="'SteamID'" filter="{ steamid: 'text'}" sortable="'steamid'">
                  <span class="label label-default"><a ng-href="{{user.profileurl}}" target="_blank">Steam Profile</a></span>
                  <small><i>{{user.steamid}}</i></small>
               </td>
               <td align="center" title="'Date'" filter="{ friendsSince: 'text'}" sortable="'friendsSince'">
                  {{user.friendsSince | date}}
               </td>
            </tr>
            <tr ng-show="vm.isLoadingAdded">
               <td colspan="10" class="text-center">Loading ... </td>
            </tr>
         </table>
      </div>
      <div class="col-md-6">
         <div class="text-center">
            <h1><span class="label label-danger">{{vm.user.historical.deletedFriends.length}}</span> Removed Friends</h1>
         </div>
         <br/><br/>
         <div class="jumbotron gray text-center" ng-if="vm.user.historical.deletedFriends.length < 1 && !vm.emptyArrays">
            <p>Saved friends <b>log</b> is empty!</p>
         </div>
         <div class="jumbotron pink text-center" ng-if="vm.internalError">
            <p>Oops! Server <b>could not get</b> the profiles.</p>
         </div>
         <table ng-show="vm.user.historical.deletedFriends.length >= 1 && !vm.internalError" ng-table="vm.removedFriendsTable" class="table table-striped" show-filter="true">
            <tr ng-repeat="user in $data" style="text-align: center" data-toggle="collapse"
               data-target="#{{row.nombreProducto}}" ng-show="!vm.isLoadingRemoved">
               <td align="center" title="'Avatar'">
                  <img ng-src="{{user.avatar}}">
               </td>
               <td align="center" title="'Username'" filter="{ personaname: 'text'}" sortable="'personaname'">
                  {{user.personaname}}
               </td>
               <td align="center" title="'SteamID'" filter="{ steamid: 'text'}" sortable="'steamid'">
                  <span class="label label-default"><a ng-href="{{user.profileurl}}" target="_blank">Steam Profile</a></span>
                  <small><i>{{user.steamid}}</i></small>
               </td>
               <td align="center" title="'Date'" filter="{ friendsSince: 'text'}" sortable="'friendsSince'">
                  {{user.friendsSince | date}}
               </td>
            </tr>
            <tr ng-show="vm.isLoadingRemoved">
               <td colspan="10" class="text-center">Loading ... </td>
            </tr>
         </table>
      </div>
   </div>
   <div class="jumbotron gray text-center" ng-if="vm.emptyArrays && !vm.noHistorical">
      <p>You have not <b>added</b> and <b>deleted</b> any friends yet!</p>
   </div>
   <div class="jumbotron pink text-center" ng-if="vm.noHistorical">
      <p>Oops! It seems you do not have any friendslist <b>stored</b>.</p>
      <p>Please, go <b>Home</b> (make sure your profile is set to <b>Public</b>).</p>
   </div>
</div>
