<style>
   .pink {
   background-color: #ffd5d5!important;
   }
   /* unvisited link */
   a:link, a:hover, a:visited {
   color: white;
   }
   .border-right {
   border-right: 1px solid lightgrey;
   }
</style>
<div class="jumbotron" ng-if="!vm.isLogged()">
   <div class="container text-center">
      <p>Sign in with <b>Steam</b> in order to check any changes in your friendlist!</p>
   </div>
</div>
<!--<center><h1>Welcome back {{vm.user.displayName}}</h1>   </center> -->
<div class="container" ng-if="vm.isLogged()">
   <div class="text-center">
      <h1><span class="label label-primary">{{vm.friendslist.length}}</span> Total Friends</h1>
   </div>
   <br/>
   <div class="form-group">
      <center>
         <h1>Search by <b>Username</b>, <b>SteamID</b>, or <b>Date</b></h1>
      </center>
      <input type="text" class="form-control" placeholder="Insert Username, SteamID, or Date" ng-model="vm.search" ng-change="vm.filter(vm.search)">
      <br/>
      <div align="right">
        <select placeholder="Colour..." ng-options="option for option in vm.listOfOptions"
        ng-model="selectedItem"
        ng-change="vm.selectedItemChanged(selectedItem)">
        <option value=''>- Sort By -</option>
        </select>
      </div>
   </div>
   <br/><br/>
   <div class="jumbotron pink text-center" ng-if="vm.internalError">
      <p>Oops! Server <b>could not get</b> the profiles.</p>
   </div>
   <div class="jumbotron pink text-center" ng-if="vm.privateProfile">
      <p>Oops! It seems your profile is set to <b>private</b>.</p>
   </div>
   <div class="row" ng-repeat="user in vm.filteredUsers" ng-switch on="$index % 2">
      <div class="col-md-6" ng-switch-when="0">
         <div class="media border-right">
            <a class="pull-left" href="#">
            <img class="media-object dp img-circle" ng-src="{{vm.filteredUsers[$index].avatarmedium}}" style="width: 100px;height:100px;">
            </a>
            <ul>
               <li class="media-body">
                  <h4 class="media-heading">{{vm.filteredUsers[$index].personaname}}  <small>{{vm.filteredUsers[$index].steamid}}</small></h4>
                  <h5><b>Friends since:</b> {{vm.filteredUsers[$index].friendsSince}}</h5>
                  <hr style="margin:8px auto">
                  <span class="label label-default"><a ng-href="{{vm.filteredUsers[$index].profileurl}}" target="_blank">Steam Profile</a></span>
                  <span class="label label-primary"><a ng-href="{{vm.filteredUsers[$index].profileurl}}screenshots" target="_blank">Screenshots</a></span>
                  <span class="label label-info"><a ng-href="{{vm.filteredUsers[$index].profileurl}}friends" target="_blank">Friends</a></span>
               </li>
               <br/>
            </ul>
         </div>
      </div>
      <div class="col-md-6" ng-switch-when="0" ng-show="vm.filteredUsers[$index+1]">
         <div class="media border-right">
            <a class="pull-left" href="#">
            <img class="media-object dp img-circle" ng-src="{{vm.filteredUsers[$index+1].avatarmedium}}" style="width: 100px;height:100px;">
            </a>
            <ul>
               <li class="media-body">
                  <h4 class="media-heading">{{vm.filteredUsers[$index+1].personaname}}  <small>{{vm.filteredUsers[$index+1].steamid}}</small></h4>
                  <h5><b>Friends since:</b> {{vm.filteredUsers[$index+1].friendsSince}}</h5>
                  <hr style="margin:8px auto">
                  <span class="label label-default"><a ng-href="{{vm.filteredUsers[$index+1].profileurl}}" target="_blank">Steam Profile</a></span>
                  <span class="label label-primary"><a ng-href="{{vm.filteredUsers[$index+1].profileurl}}screenshots" target="_blank">Screenshots</a></span>
                  <span class="label label-info"><a ng-href="{{vm.filteredUsers[$index+1].profileurl}}friends" target="_blank">Friends</a></span>
               </li>
               <br/>
            </ul>
         </div>
      </div>
      <br/>
   </div>
</div>
