<style>
   .pink {
   background-color: #ffd5d5!important;
   }
   /* unvisited link */
   a:link, a:hover, a:visited {
   color: white;
   }
   .border-right {
   border-right: 1px solid lightgrey;
   }
   .my-chart {
   width: 175px;
   height: 175px;
   float: right;
   }
   html {
   overflow-y: scroll;
   }
</style>
<div class="jumbotron" ng-if="!vm.isLogged()">
   <div class="container text-center">
      <p>Sign in with <b>Steam</b> in order to check any changes in your friendslist!</p>
   </div>
</div>
<div class="jumbotron pink text-center" ng-if="vm.internalError">
   <p>Oops! Something went <b>wrong.</b></p>
</div>
<div class="jumbotron pink text-center" ng-if="vm.privateProfile">
   <p>Oops! It seems your profile is set to <b>private</b>.</p>
</div>
<div class="container" ng-if="vm.isLogged() && !vm.internalError && vm.friendslist">
  <center><h3> Friends Level Average: <span class="label label-primary"> {{ vm.levelAverage }}</span></h3></center>
  <br/><br/>
   <div class="row">
      <div class="col-md-4">
         <center>
            <h3>Added Friends by Year</h3>
         </center>
         <canvas id="bar" class="chart chart-bar" chart-data="vm.addedByYearChart.data" chart-labels="vm.addedByYearChart.labels"></canvas>
         <br/>
      </div>
      <div class="col-md-4">
         <center>
            <h3>Accounts Age by Year</h3>
         </center>
         <canvas id="bar" class="chart chart-bar"
            chart-data="vm.accountsAgeByYearChart.data" chart-labels="vm.accountsAgeByYearChart.labels">
         </canvas>
      </div>
      <div class="col-md-4">
        <center>
          <h3>VAC'd Friends</h3>
        </center>
        <canvas style='width:200px;height:100px' id="doughnut" class="chart chart-doughnut" chart-data="vm.vacChart.data" chart-labels="vm.vacChart.labels" chart-colors="vm.vacChart.colours"></canvas>
      </div>
   </div>
</div>
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <span class="navbar-text">
            <label style="color: white">2017, SteamFriendsTracker</label>
            <br/>
            This site is not affiliated with Valve, Steam, or any of their partners. All copyrights reserved to their respective owners.
          </span>
          <div class="nav navbar-nav navbar-right">
            <span class="navbar-text" style="color: white">
              created by SoumyDev ♜
            </div>
      </div>
    </div>
</footer>
