<style>
   .gray {
   background-color: #f4f4f4!important;
   }
   .pink {
   background-color: #ffd5d5!important;
   }
   /* unvisited link */
   a:link, a:hover, a:visited {
   color: white;
   }
   .border-right {
   border-right: 1px solid lightgrey;
   }
   .glyphicon.glyphicon-floppy-open {
   font-size: 75px;
   }
   .glyphicon.glyphicon-duplicate {
   font-size: 75px;
   }
   .glyphicon.glyphicon-eye-open {
   font-size: 75px;
   }
   p {
   padding-top: 20px;
   }
   html {
   overflow-y: scroll;
   }
</style>
<div class="container" ng-if="!vm.isLogged()">
   <div class="jumbotron">
      <div class="container text-center">
         <p>Sign in with <b>Steam</b> in order to check any changes in your friendslist!</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-4">
         <div class="jumbotron" style="text-align: center;">
            <span class="glyphicon glyphicon-floppy-open"></span>
            <p>SteamFriendsTracker <strong>saves your friendslist</strong> the first time you log in.</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="jumbotron" style="text-align: center;">
            <span class="glyphicon glyphicon-duplicate"></span>
            <p>Your current friendslist is <strong>compared</strong> with the stored one.</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="jumbotron" style="text-align: center;">
            <span class="glyphicon glyphicon-eye-open"></span>
            <p><strong>Changes are displayed</strong>, and the stored friendslist is updated.</p>
         </div>
      </div>
   </div>
</div>
<!--<center><h1>Welcome back {{vm.user.displayName}}</h1>   </center> -->
<div class="container" ng-if="vm.isLogged()">
   <div class="row">
      <div class="col-md-6">
         <div class="text-center">
            <h1><span class="label label-success">{{vm.changes.addedFriends.length}}</span> New Friends</h1>
         </div>
         <br/><br/>
         <div class="jumbotron gray text-center" ng-if="vm.changes.addedFriends.length < 1 && !vm.internalError && !vm.privateProfile && !vm.noChanges">
            <p><b>Nobody</b> loves you (at the moment)!</p>
         </div>
         <div class="media border-right" ng-repeat="user in vm.addedProfiles">
            <a class="pull-left" href="#">
            <img class="media-object dp img-circle" ng-src="{{user.avatarmedium}}" style="width: 100px;height:100px;">
            </a>
            <ul>
               <li class="media-body">
                  <h4 class="media-heading">{{user.personaname}}  <small>{{user.steamid}}</small></h4>
                  <h5><b>Friends since:</b> {{user.friendsSince | date}}</h5>
                  <hr style="margin:8px auto">
                  <span class="label label-default"><a ng-href="{{user.profileurl}}" target="_blank">Steam Profile</a></span>
                  <span class="label label-primary"><a ng-href="{{user.profileurl}}screenshots" target="_blank">Screenshots</a></span>
                  <span class="label label-info"><a ng-href="{{user.profileurl}}friends" target="_blank">Friends</a></span>
               </li>
               <br/>
            </ul>
         </div>
      </div>
      <div class="col-md-6">
         <div class="text-center">
            <h1><span class="label label-danger">{{vm.changes.deletedFriends.length}}</span> Deleted Friends</h1>
         </div>
         <br/><br/>
         <div class="jumbotron text-center" ng-if="vm.changes.deletedFriends.length < 1 && !vm.internalError && !vm.privateProfile && !vm.noChanges">
            <p><b>Nobody</b> hates you (at the moment)!</p>
         </div>
         <div class="media border-right" ng-repeat="user in vm.deletedProfiles">
            <a class="pull-left" href="#">
            <img class="media-object dp img-circle" ng-src="{{user.avatarmedium}}" style="width: 100px;height:100px;">
            </a>
            <ul>
               <li class="media-body">
                  <h4 class="media-heading">{{user.personaname}}  <small>{{user.steamid}}</small></h4>
                  <h5><b>Friends since:</b> {{user.friendSince | date}}</h5>
                  <hr style="margin:8px auto">
                  <span class="label label-default"><a ng-href="{{user.profileurl}}" target="_blank">Steam Profile</a></span>
                  <span class="label label-primary"><a ng-href="{{user.profileurl}}screenshots" target="_blank">Screenshots</a></span>
                  <span class="label label-info"><a ng-href="{{user.profileurl}}friends" target="_blank">Friends</a></span>
               </li>
               <br/>
            </ul>
         </div>
      </div>
   </div>
   <div class="jumbotron text-center"  ng-if="vm.noChanges && !vm.internalError">
      <p>You have <b>no changes</b> since the last time you logged on!</p>
   </div>
   <div class="jumbotron pink text-center" ng-if="vm.internalError">
      <p>Oops! Server <b>could not get</b> the profiles.</p>
   </div>
   <div class="jumbotron pink text-center" ng-if="vm.privateProfile">
      <p>Oops! It seems your profile is set to <b>private</b>.</p>
   </div>
</div>
