<style>
  .gray {
      background-color: #f4f4f4!important;
    }
    .pink {
        background-color: #ffd5d5!important;
      }
   /* unvisited link */
   a:link, a:hover, a:visited {
   color: white;
   }
   .border-right {
   border-right: 1px solid lightgrey;
   }
</style>
<div class="jumbotron" ng-if="!vm.isLogged()">
   <div class="container text-center">
      <p>Sign in with <b>Steam</b> in order to check any changes in your friendlist!</p>
   </div>
</div>
<!--<center><h1>Welcome back {{vm.user.displayName}}</h1>   </center> -->
<div class="container" ng-if="vm.isLogged()">
   <div class="row">
      <div class="col-md-6">
         <div class="text-center">
            <h1><span class="label label-success">{{vm.changes.addedFriends.length}}</span> New Friends</h1>
         </div>
         <br/><br/>
         <div class="jumbotron gray text-center" ng-if="vm.changes.addedFriends.length < 1 && !vm.internalError && !vm.noChanges">
            <p><b>Nobody</b> loves you (at the moment)!</p>
         </div>
         <div class="media border-right" ng-repeat="user in vm.addedProfiles">
            <a class="pull-left" href="#">
            <img class="media-object dp img-circle" ng-src="{{user.avatarmedium}}" style="width: 100px;height:100px;">
            </a>
            <ul>
               <li class="media-body">
                  <h4 class="media-heading">{{user.personaname}}  <small>{{user.steamid}}</small></h4>
                  <h5><b>Friends since:</b> {{vm.getDateByTimestamp(user.friendSince)}}</h5>
                  <hr style="margin:8px auto">
                  <span class="label label-default"><a ng-href="{{user.profileurl}}" target="_blank">Steam Profile</a></span>
                  <span class="label label-primary"><a ng-href="{{user.profileurl}}screenshots" target="_blank">Screenshots</a></span>
                  <span class="label label-info"><a ng-href="{{user.profileurl}}friends" target="_blank">Friends</a></span>
               </li>
               <br/>
            </ul>
         </div>
      </div>
      <div class="col-md-6">
         <div class="text-center">
            <h1><span class="label label-danger">{{vm.changes.deletedFriends.length}}</span> Deleted Friends</h1>
         </div>
         <br/><br/>
         <div class="jumbotron text-center" ng-if="vm.changes.deletedFriends.length < 1 && !vm.internalError && !vm.noChanges">
            <p><b>Nobody</b> hates you (at the moment)!</p>
         </div>
         <div class="media border-right" ng-repeat="user in vm.deletedProfiles">
            <a class="pull-left" href="#">
            <img class="media-object dp img-circle" ng-src="{{user.avatarmedium}}" style="width: 100px;height:100px;">
            </a>
            <ul>
               <li class="media-body">
                  <h4 class="media-heading">{{user.personaname}}  <small>{{user.steamid}}</small></h4>
                  <h5><b>Friends since:</b> {{vm.getDateByTimestamp(user.friendSince)}}</h5>
                  <hr style="margin:8px auto">
                  <span class="label label-default"><a ng-href="{{user.profileurl}}" target="_blank">Steam Profile</a></span>
                  <span class="label label-primary"><a ng-href="{{user.profileurl}}screenshots" target="_blank">Screenshots</a></span>
                  <span class="label label-info"><a ng-href="{{user.profileurl}}friends" target="_blank">Friends</a></span>
               </li>
               <br/>
            </ul>
         </div>
      </div>
   </div>
   <div class="jumbotron text-center"  ng-if="vm.noChanges && !vm.internalError">
      <p>You have <b>no changes</b> since the last time you logged on!</p>
   </div>
   <div class="jumbotron pink text-center" ng-if="vm.internalError">
      <p>Oops! Stored list was not <b>updated</b>.</p>
   </div>
</div>
